<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de noticia</title>
</head>
<body>
    <h1>Detalle de noticia</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam laborum, velit est ex optio doloremque provident assumenda molestias, in id consequatur eligendi. Obcaecati, fuga? Magnam tempora soluta distinctio unde vero cum eum doloribus natus magni debitis aspernatur, at quidem repellat a iure facilis nam corporis expedita dolorem obcaecati quod alias. Suscipit doloribus velit tenetur quia id tempora ab enim, quae pariatur. Maiores, mollitia. Molestiae nisi aperiam obcaecati nesciunt nam unde, mollitia ratione ullam voluptatum! Eveniet eaque voluptates saepe asperiores optio, harum porro laborum modi, odio animi minima. Fugit sapiente dolorum eum! Dignissimos quis quam optio voluptas laborum facilis temporibus repudiandae!</p>
</body>
</html>