{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inicio</title>
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
</head>
<body>
    <h1 class="texto-con-fondo-titulo">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</h1>
    <p class="texto-con-fondo-titulo-1">xxxxxxxxxxxxx</p>
    <p1 class="texto-con-fondo-1">XXXXXXXXXXXXX  XXXXXXXXXXX XXXXXXXXXXXX</p1>
    <img src="{% static 'imagenPorDefecto.png' %}" alt="" width="500">
</body>
</html>