<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>listado de noticias</title>
</head>
<body>
    <h1>listados de noticias</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus vero maxime laboriosam, quis reiciendis quasi inventore explicabo modi blanditiis molestias. Corporis asperiores, est obcaecati illum quibusdam eaque fugiat facere quisquam eius sapiente, necessitatibus laudantium doloribus commodi itaque ducimus officia iste quis. Optio laudantium rem similique deserunt minus neque laborum fugit a sapiente qui quisquam dolorem, sequi et necessitatibus consequuntur, facilis doloremque hic quia asperiores earum repellat ducimus voluptatum, esse atque. Eius earum fugiat officiis, quod in natus suscipit quaerat voluptatibus delectus eum saepe ipsa perspiciatis consectetur fugit! Ab porro perferendis excepturi sed. Quam voluptas quia doloremque, quidem porro tenetur labore.</p>
    
</body>
</html>